body {
  background: #89E;
}

h1 {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #9E6;
  border: 1px solid #333;
}
